.contactus-container {
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    animation: fadeIn 1s ease-in-out;
  }
  
  .contactus-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .contactus-container form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
  }
  
  .contactus-container form div {
    margin-bottom: 15px;
  }
  
  .contactus-container form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contactus-container form input,
  .contactus-container form textarea {
    padding: 10px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
  }
  
  .contactus-container form button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #3f51b5;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
  }
  
  .contactus-container form button:hover {
    background-color: #303f9f; 
  }
  
  .contactus-container .error-message {
    color: red;
    font-size: 0.9em;
  }
  
  .contactus-container .success-message {
    color: green;
    font-size: 1em;
    margin-bottom: 15px;
  }
  
  .contact {
    padding-top: 30px;
  }
  
  .department-links button {
    padding: 5px 20px;
    margin-right: 5px;
    font-size: 1em;
    cursor: pointer;
    background-color: #3f51b5; 
    border: none;
    border-radius: 5px;
  }
  
  .link {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .input {
    border-radius: 8px;
  }
  
  .contactus-container{
    background-color: rgba(215, 224, 232, 0.768);
    border-radius: 20px;
    padding: 20px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  