.team-container {
    text-align: center;
    padding: 20px;
  }
  
  .team-container h2{
    margin-bottom: 25px;
  }
  
  .team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
  }
  
  .team-member {
    margin: 20px;
    text-align: center;
  }
  
  .team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #f1f1f1;
  }
  
  .team-member-info {
    text-align: center;
  }
  
  .team-member h3 {
    margin: 10px 0 5px;
    font-size: 1.2em;
    font-weight: 600; 
  }
  
  .team-member p {
    font-size: 0.9em;
    color: #777; 
    margin: 0; 
  }
  